.dashboard{
    display: flex;
    justify-content: center;
}
.sideBar{
    background-color: #010313;
    padding: 20px 40px;
    color: white;
    border-left: 3px solid #1ba177;
    height: 100vh;
}
.sideBar li{
    margin: 30px 0; 
}
